@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn-phu {
  color: white;
  background-color: #176AE5;
  border-radius: 24px;
}
.active {
  border-bottom: #176AE5 2px solid;
  background-color: azure;
  border-radius: 10px;
}
